<select id="mainBlockType" name="block_type" required>
    <option value="text">Текстовый блок</option>
    <option value="image">Блок с изображением</option>
    <option value="gallery">Галерея</option>
    <option value="slider">Слайдер</option>
    <option value="grid">Сетка</option>
</select>

<select id="pageBlockType" name="block_type" required>
    <option value="text">Текстовый блок</option>
    <option value="image">Блок с изображением</option>
    <option value="gallery">Галерея</option>
    <option value="slider">Слайдер</option>
    <option value="grid">Сетка</option>
</select> 